
header #images{
    float: left;
    clear: right;
    padding: 2px;
}
header #images2{
    float: right;
    padding: 2px;
}
header{
    background-color: black;
    padding-top: 1px;
    padding-bottom: 4px;
}
#banner{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
}
#nav{
    float: right;
    background-color: red; width: 100%;
    
}
#nav a{
    color: black;
}
#search{
    float: right;
    padding-top: 1px;
}
